@media only screen and (max-width:1279px) {
    .section-title {
        font-size: 4.5em;
        top: 5%;
    }

    .gallery-item {
        min-width: 500px;
    }
}

@media only screen and (max-width:1023px) {
    .section-title {
        font-size: 3.5em;
    }

    .index-intro {
        font-size: 1.0em;
    }
}

@media only screen and (max-width:1025px) {
    .ellipse-cursor {
        display: none;
    }

    .drag-to-scroll {
        display: none;
    }
}

@media only screen and (max-width:1023px) {
    .button-main {
        background-color: #000000;
        color: #f6f6f6;
    }
}

@media only screen and (max-width:767px) {
    .about-text-inline {
        font-size: 5.9vw;
    }
}

@media only screen and (max-width:769px) {
    .link-text {
        font-size: 5em;
    }
}

@media only screen and (max-width:479px) {
    .text-inline {
        font-size: 8.5vw;
    }

    .team-portrait {
        grid-template-columns: 1% 32% 32% 32%;
        top: 17%;
        display: none;
    }

    .portait {
        height: 30vh;
    }

    .body-text {
        font-size: 1.2em;
        text-indent: 30%;
        text-align: justify;
    }

    .text-row > h1 {
        font-size: 1.5em;
        font-weight: 900;
    }

    .mobile-display-none {
        display: none;
    }

    .about-text-inline {
        font-size: 7.3vw;
    }

    .about-text-line {
        height: 7.3vw;
    }

    .mobile-no-width {
        width: 0;
    }

    #burgerMenu {
        bottom: 4%;
        right: 5%;
    }

    #closeMenu {
        bottom: 4%;
        right: 5%;
    }

    .link-text {
        font-size: 3em;
    }

    .button-main {
        font-size: 1.0em;
    }

    .row-2 {
        flex-basis: 30%;
        flex-direction: column;
    }

    .container {
        grid-template-rows: 15% 40% 30%;
        min-height: 70vh;
    }

    .logo-img {
        bottom: 1%;
    }

    .text-line {
        min-height: 2.5em;
    }

    .row-1 {
        flex-direction: column;
    }

    .section-title {
        font-size: 2.0em;
        top: 15%;
    }

    .service-title {
        font-size: 1.5em;
    }

    .service-body {
        font-size: 1.1em;
    }

    .gallery-item-desc {
        padding-left: 20px;
    }

    .gallery-item {
        max-height: 55vh;
        min-width: 69vw;
        margin-left: 5%;
    }

    .row-3 {
        flex-direction: column;
    }

    .prompt {
        font-size: 9vw;
    }

    .contact-prompt-line {
        min-height: 2.8em;
    }

    .contact-input {
        font-size: 1.1em;
        height: 20px;
        margin-left: 0;
        width: 93%;
    }

    .message {
        margin-left: 0;
        height: 18vh;
        width: 93%;
    }

    .submit {
        margin-left: 65%;
        font-size: 3.3vw;
    }

    .skill-benefit {
        display: flex;
        flex-direction: column;
    }

    .skill-benefit-box {
        min-height: initial;
    }

    .skill-text {
        font-size: 6.9vw;
        line-height: 1.0em;
    }

    .skill-image-box {
        min-height: 20vh;
    }

    #services-offered {
        min-height: 130vh;
    }
}

@media only screen and (min-width:768px) {
    .desktop-only {
        display: none;
    }
}

.portrait-gallery {
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
    padding-top: 10%;
}

@media only screen and (max-width:479px) {
    .mobile-only-display {
        padding: 20px;
    }

    .about-title {
        font-size: 12vw;
    }

    .portrait-gallery-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 40vh;
        width: 60vw;
    }

    .team-member {
        position: relative;
        display: inline-flex;
        width: 60vw;
        margin-right: 10%;
        flex-direction: column;
    }

    .team-info {
    }
}